<br><span><%= image_tag @bot.image.url(:medium) %>
<h1><%= @bot.name %> </h1></span>

<h3>Description:</h3>
<br>
<%= @bot.description %>
<h3> Reviews: </h3>
<% @reviews.each do |review| %>
  <h4> <%= review.review_title %></h4>
      by <%= User.find(review.user_id).email %>
        <%= review.review_score %>/10 stars.
        <br>
        <%= review.review_body %>
        <br>
        <% if review.user_id === current_user.id %>
        <%= link_to "Edit Review", edit_rental_path(review) %>
        <% end %>
<% end %>
<br>
<% if current_user.id === @bot.user_id %>
<%= link_to "Edit Bot", edit_bot_path %>
<% else %>
<%= link_to "Rent This Bot", new_rental_path(bot_id: @bot.id)%>
<% end %>
<% if @bot.users.include?(current_user) && current_user.rentals.find_by(bot_id: @bot.id).review_title === "" %>
<%= link_to "Review this Bot", edit_rental_path(current_user.rentals.find_by(bot_id: @bot.id)) %>
<% end %>
