<br><span><%= image_tag @bot.image.url(:thumb) %>
<h1><%= @bot.name %> </h1></span>

<h2>Description: <%= @bot.description %></h2>
<h3> Reviews: </h3>
<br>
<% @reviews.each do |review| %>
  <h4> <%= review.review_title %></h4>
      by <%= User.find(review.user_id).email %>
        <%= review.review_score %>/10 stars.
        <br>
        <%= review.review_body %>
        <br>
<% end %>
<br>
<% if current_user.id === @bot.user_id %>
<%= link_to "Edit Bot", edit_bot_path %>
<% else %>
<%= link_to "Rent This Bot", new_bot_rental_path(bot_id: @bot.id)%>
<% end %>
<% if @bot.users.include?(current_user) %>
<%= link_to "Review this Bot", new_bot_review_path(@bot) %>
<% end %>
